

.padding {
    padding: 3rem !important
}

.user-card-full {
    overflow: hidden !important;
}

.card {
    border-radius: 5px !important;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08) !important;
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08) !important;
    border: none !important;
    margin-bottom: 30px !important;
     height: 500px !important;
     width: 850px!important;
}

.m-r-0 {
    margin-right: 0px !important;
}

.m-l-0 {
    margin-left: 0px !important;
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px !important;
}

.bg-c-lite-green {
        background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
    background: linear-gradient(to right, #ee5a6f, #f29263);
}

.user-profile {
    padding: 20px 0 !important;
}

.card-block {
    padding: 1.25rem !important;
}

.m-b-25 {
    margin-bottom: 25px !important;
}

.img-radius {
    border-radius: 5px !important;
}

@media (min-width: 1700px) {
    .col-xl-6 {
        flex: 0 0 auto;
        width: 100% !important;
        margin-left:700px;
    }
}
 
h6 {
    font-size: 14px !important;
}

.card .card-block p {
    line-height: 25px !important;
}


.card-block {
    padding: 1.25rem !important;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0 !important;
}

.m-b-20 {
    margin-bottom: 20px !important;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.card .card-block p {
    line-height: 25px !important;
}

.m-b-10 {
    margin-bottom: 10px !important;
}

.text-muted {
    color: #919aa3 !important;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0 !important;
}

.f-w-600 {
    font-weight: 600 !important;
}

.m-b-20 {
    margin-bottom: 20px !important;
}

.m-t-40 {
    margin-top: 20px !important;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.m-b-10 {
    margin-bottom: 10px !important;
}

.m-t-40 {
    margin-top: 20px !important;
}

.user-card-full .social-link li {
    display: inline-block !important;
}

.user-card-full .social-link li a {
    font-size: 20px !important;
    margin: 0 10px 0 0 !important;
    -webkit-transition: all 0.3s ease-in-out !important;
    transition: all 0.3s ease-in-out !important;
}


